.text_mod {
    margin-left: 40px;
    margin-right: 40px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 32px;
    margin-top: 10vh;
    mix-blend-mode: overlay;
    text-shadow: #8d8830 1px 0 10px;
    margin-bottom: 40px
}