@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans:wght@200;300&display=swap');

.text-search-unit-title{
    display: flex;
    justify-content: center;
    background-image: url("./../../components/Img/fon_Choose.png");
    color: white;
    padding: 10px;
    font-size: 3vh;
    font-weight: 600;
    min-height: 40px;
    height: 40px;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;

}
.text-unit-photo{
    -webkit-background-clip: text;
    font-weight: 400;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    border-color: #b29c3d;
    color: rgba(255, 255, 255, 0.44);
    font-size: 2.5vh;
    transition: all 0.2s;
}
.text-unit-photo:hover{
    color: rgb(255, 255, 255);
}
.text-title-parameters{
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}
.barder_style{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fdfdfd;
    border-radius: 4px;
    background-color: rgba(182, 143, 34, 0.98);
    transition: all 0.2s;

}
.barder_style:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(182, 143, 34, 0.98);
    border-radius: 4px;
    background-color: rgba(199, 157, 46, 0.53);

}
