.create-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #655008;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 280px;
}

.create-button:hover {
    background-color: #f8c305;
}

.create-button:focus {
    outline: none;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text {
    color: #f8c305;
    font-size: 40px;
    margin-bottom: 20px;
}